<!-- views/pages/postage_results.ejs -->

<!DOCTYPE html>
<html>
<body>

<h1>Postage Rate</h1>

<h2>You have submitted the following information:</h2>
<ul>
<li><b>Weight of the item:</b> <%= weight %></li>
<li><b>Mail type:</b> <%= mailtype %></li>
</ul>
<hr>
<p><b>Postal Rate is:</b> <%= postalRate %></p>


</body>
</html>